[Desktop Entry]
Encoding=UTF-8
Name=YT Music Player
Comment=YT Music Player 
Exec=bash -c 'cd /home/username/for_ubuntu_0.4 && ./playVlc'
Icon=/home/username/for_ubuntu_0.4/player.ico
Type=Application
Terminal=False
